.card {
  display: grid;
  grid-template-rows: 210px 150px 80px;
  grid-template-areas: "image" "text" "stats";
  border-radius: 2em;
  background: white;
  box-shadow: 5px 5px 15px var(--blackLighter);
  font-family: roboto;
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
  margin: 20px;
}

.card-image {
  grid-area: image;
}

.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}
.card-stats {
  grid-area: stats;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  border-top: 1px solid var(--primaryDark);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: var(--primary);
}
.card-stats .stat {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}
.card-stats .border {
  border-left: 1px solid var(--primaryDark);
  border-right: 1px solid var(--primaryDark);
}
.card-stats .value {
  font-size: 22px;
  font-weight: 500;
}
.card-stats .value sup {
  font-size: 12px;
}
.card-stats .type {
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
}
.card:hover {
  transform: scale(1.15);
  box-shadow: 5px 5px 15px var(--blackLighter);
}

.card-stats .stat .details {
  color: white;
  text-decoration: none;
}

.GridsCard {
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding: 2% 5% 10% 5%;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
@media (max-width: 500px){
  .GridsCard{
    display:block;
  }
}
/* 
}
.content{
  display:flex;
  border: 5px var(--black);
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: auto;
}

.card{
  background-color: var(--primary);
  color: var(--white);
  border: 10px black;
  box-shadow: 0px 2px 18px var(--blackLighter);
  border-radius: 2em;
  width: 100%;
}

.centerCard{
  height: 200px;
  width: 100%;
}

.topCard{
  padding: 20px;
  padding-top: 0;
}

.bottomCard{
  display: flexbox;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}
.secondText{
  color: black;
}

.bottomText{
  display: flexbox;
  font-weight: 700;
  padding-right: 10px;
  justify-content:space-around;
}

.details{
  background: none;
  border: none;
}
.details:hover{
  border: 2px var(--white);
  color: var(--white);
}

.card-stats .stat {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  padding:10px;
} */
