.GridsCard{
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
  padding: 10% 5%;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}
.content{
  display:flex;
  border: 5px var(--black);
  justify-content: center;
  align-items: center;
  align-content: center;
  width: auto;
  height: auto;
}

.card{
  background-color: var(--primary);
  color: var(--white);
  border: 10px black;
  box-shadow: 0px 2px 18px var(--blackLighter);
  border-radius: 2em;
  width: 100%;
}

.centerCard{
  height: 200px;
  width: 100%;
}

.topCard{
  padding: 20px;
  padding-top: 0;
}

.bottomCard{
  display: flexbox;
  justify-content: center;
  flex-direction: row;
  padding: 20px;
}
.secondText{
  color: black;
}

.bottomText{
  display: flexbox;
  font-weight: 700;
  padding-right: 10px;
  justify-content:space-around;
}

.details{
  background: none;
  border: none;
}
.details:hover{
  border: 2px var(--white);
  color: var(--white);
}

